li {
  background-color: #111;
  color: #fff;
  display: inline-block;
  margin: 20px;
  padding: 5%;
  border-radius: 5px;
  border: transparent 4px solid;
  cursor: pointer;
}

.selected {
  border-color: #0088d8;
  background-color: #333;
}

.hidden {
  display: none;
}
