:root {
  --cor-principal: #3c59e7;
  --cor-claro: #eaeaea;
  --cor-escuro: #232323;
  --padding-pq: 0.5rem 1rem;
  --padding-md: 2rem;
  --padding-gd: 4rem;
}
header {
  color: var(--cor-principal);
  background-color: var(--cor-escuro);
  padding: var(--padding-pq);
  text-align: center;
}
h2 {
  text-align: center;
  margin-bottom: 2rem;
}

section {
  padding: var(--padding-md);
  background-color: var(--cor-claro);
}

div {
  background-color: var(--cor-principal);
  padding: var(--padding-pq);
  color: var(--cor-claro);
}

.red-box {
  --cor-principal: #c72020;
}
